
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --white: #fff;

    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /*Background gradient:*/

   --soft-violet: hsl(273, 75%, 66%);
   --soft-blue: hsl(240, 73%, 65%);
  
  /* Text*/

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

/* Dividers*/

  --light-grayish-blue: hsl(240, 5%, 91%);

}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px; 
   background-image: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height:100vh;
   padding-top: 40px;
   position: relative;
}

section{
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: var(--white);
    width:80%;
    padding: .8rem ;
    margin-top: 8.5rem;
    border-radius: 1rem;
}
/*image section*/
img{
    width:300px;
    height:200px;
    padding:10px;
    margin-top: -150px;
}


.shadow{
    background-image: url('/images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    height:100px;
    width:auto;
    position: relative;
    bottom: 90px;
}

h2{
    position: relative;
    top: -30px;
    font-weight: 700;
    font-size: 2.5rem;
}

.faq{
    margin-top:30px;
    border-bottom:1px solid var(--light-grayish-blue);
    padding-bottom: 20px;
    width:auto;
}
.faq:nth-last-child(1){
    margin-bottom:20px;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    
    
}
.question h3{
    font-size: .8rem;
    font-weight: 400;
}
.question h3:hover{
    cursor: pointer;
    color:var(--soft-red);
}

.arrow{
    height:auto;
    width:30px;
    position:relative;
    top: 75px;

}
.arrow:hover{
    cursor: pointer;
}

.answer p{
    padding-top: 1rem;
    color: var(--dark-grayish-blue);

}

.answer{
    max-height: 0;
    overflow: hidden;
    transition:  max-height .3s ease-in-out;
    
}

.faq.active .answer{
    max-height: 300px;
}

/* 2 make the font bold in active*/
.faq.active .question h3{ 
    font-weight:bolder;   
}
.attribution{
 
    position: relative;
    top:25px; 
    background:fixed; 
    margin:30px;
    padding-bottom: 10px;
}
.attribution .links{
    color:white;
}
 

@media (min-width:800px){
    section{
        width:750px;
    }

    img {
        
        position:relative;
        right:350px;
        top:30px;
    }
    
}


@media(min-width:600px){
    section{
        width:800px;
    }
.image-side{
    position: absolute;   /* 4 big scr */
    left:300px;
     top:350px;  

    
   }

  img{
    height:400px;
    width:400px;
  
  }

  .shadow{
    height:200px;
    width:100%;
    position: relative;
    bottom:180px;
  }

   h2{
    margin-top:30px;
   }

   .faq{
    width:300px;
    position:relative;
    left:110px;
    
   }
   .arrow{
   
   position:relative;
   left:50px;
    
}
}

@media (min-width:700px){
    section{

        width:700px;
    }

    img {
        display: flex;
        position:relative;
        right:350px;
        top:30px;
    }

    .shadow{
        position:relative;
        right:350px;
    }
}

@media (min-width:800px){
    section{

        width:750px;
    }

    img {
         
        position:relative;
        right:350px;
        top:30px;
    }

   
}

@media (min-width:1240px){
    section{

        width:750px;
    }

    img {
         
        position:relative;
        right:100px;
        top:0px;
       
    }
    .shadow{
         
        position:absolute;
        right:100px;
        bottom:0;
    }

 
}

